dist/
# Python / Virtual Environments
__pycache__/
*.py[cod]
*.egg-info/
.env/
# When shell script option (default) is used
aws_session.sh
# VSCode IDE settings
.vscode
# --verbose only
saml_response.html
build
.idea
